@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@1,500&display=swap');

body {
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Montserrat;
}

.todo-container {
    background-color: #FFF;
    top: 50%;
    left: 50%;
    box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
    text-align: center;
    border-radius: 5px;
    padding: 25px 10px 25px;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    flex: 55%;
    position: absolute;
}

.form {
    padding: 6px 0;
}

input {
    border-radius: 6px;
    border: 1px solid #ebebeb;
    width: 380px;
    color: #000000;
    transition: all 0.2s ease 0s;
    outline: none;
    font-size: inherit;
    padding: 15px;
    background: #FFF;
    font-family: Montserrat;
}

textarea {
    transition: all 0.2s ease 0s;
    outline: none;
    font-size: inherit;
    padding: 15px;
    height: 200px;
    resize: none;
    margin-top: 6px;
}

:focus {
    border: 1px solid #396afc;
    transition: 0.2s;
}

.button-container {
    padding-top: 8px;
}

.add-button {
    background-color: #396afc;
    color: #FFF;
    border: none;
    border-radius: 6px;
    width: 410px;
    font-size: 22px;
    font-weight: 500;
    line-height: 50px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.add-button:hover {
    background-color: #1941ba;
}

.line-break {
    border-bottom: 1px solid #e7e7e7;
    margin: 20px 20px;
}

.delete-completed-button {
    background-color: #353535;
    color: #FFF;
    border: none;
    border-radius: 6px;
    width: 200px;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.delete-completed-button:hover {
    background-color: #292929;
}

.delete-button {
    background-color: #cb2525;
    color: #FFF;
    border: none;
    border-radius: 6px;
    width: 200px;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #a50f0f;
}